.container {
    display: block;
    margin: auto;
    width: 1400px;
    text-align: center;
}

.content-container{
    display: flex;
    justify-content: space-between;
}

.content-container-chart {
    min-width: 900px;
    min-height: 600px;
    margin-left: 20px;
}

/*table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgb(244, 237, 167);
    color: #ffff;
}*/
